<html>
   <head>
{#   	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">#}
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTTOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWME1fgjwPGmkzs7" crossorigin="anonymous"> -->

</head>

<body>
<h1>Ticker Symbol = {{ symbol }}</h1><br>
<h5>Allotment = {{allotment}}</h5><br>
<h5>Final Share Price = {{finalSharePrice  }}</h5><br>
<h5>Sell Commission = {{ sellCommission }}</h5><br>
<h5>Initial Share Price = {{ iniSharePrice }}</h5><br>
<h5>Buy Commission = {{ buyCommission }}</h5>
<h5>Capital Gain Tax Rate(%) = {{ cgtr }}</h5>
<h5>PROFIT REPORT: </h5><br>
    <h5>{{ proceedsDisplay }}</h5>
<h5>Cost = {{  cost }}</h5>
    <h5>Cost details: </h5>
    <h5>Total Purchase Price = {{ totalPurchasePriceDis }}</h5>
<h5>{{ taxOncg }}</h5><br>
<h5>Net Profit = $ {{ netProfit }}</h5><br>
<h5>Return on Investment {{ returnOnInvestmentDisplay }} %</h5><br>
<h5>To break even, you should have a final share price of {{ breakEven }}</h5>

 </body>
 </html>
 <!-- ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" -->